/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1720px (category grid breaks) */
/**************************/
@media (max-width: 108em) {
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .split-section {
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 1rem;
    margin-bottom: 15rem;
  }

  .split-image {
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }

  .split-image p {
    right: auto;
    left: 1rem;
  }

  .split-text {
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 0;
    text-align: left;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .uploaded-image-container {
    flex: 0 0 100%; /* 1 image per row on smaller screens */
    margin-right: 0;
  }
  .split-image {
    height: 43vh;
  }
  .split-text {
    padding: 0 2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .split-text {
    padding: 0 0.5rem;
  }
}

/**************************/
/* BELOW 430px ( new Phones) */
/**************************/
@media (max-width: 27em) {
}
