/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1720px (category grid breaks) */
/**************************/
@media (max-width: 108em) {
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .search-box {
    top: 30rem; /* Increased from 20rem */

    flex-direction: column;
    width: 95%;
    align-items: flex-start;
    padding: 2.25rem 1.5rem; /* Increased from 1.5rem 1rem */
  }

  .main-heading {
    font-size: 3.75rem; /* Increased from 2.5rem */
    line-height: 1.1;
  }

  .border-div {
    display: block;
    width: 100%;
    border-top: 1px solid #555;
  }
  .input-group {
    width: 100%;
  }
  #eventDate {
    width: 100%;
  }
  .search-button {
    margin: 0 auto;
    width: 100%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
}

/**************************/
/* BELOW 430px ( new Phones) */
/**************************/
@media (max-width: 27em) {
}
