.section-hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background-color: var(--granite-background-color);
}

.main-heading {
  position: absolute;
  top: 88%;
  left: 4.5rem; /* Increased from 3rem */
  transform: translateY(-30%);

  font-size: 7.5rem; /* Increased from 5rem */
  z-index: 2;
  color: var(--white-text-color);
}
.main-heading-sub-heading {
  position: absolute;
  top: 92%;
  left: 84.5rem; /* Increased from 3rem */
  transform: translateY(-30%);

  font-size: 10rem; /* Increased from 5rem */
  z-index: 3;
  color: var(--highlight-color);
}

.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
}

.carousel-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Increased from 50% */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 2;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 1s;
  z-index: 0;
}

.carousel-image.active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0s;
}

.search-box {
  position: absolute;
  left: 50%;
  top: 30%; /* Increased from 30% */
  transform: translate(-50%, -50%);
  max-width: 75%; /* Increased from 75% */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem; /* Increased from 1rem */

  background-color: var(--white-background-color);

  padding: 1.5rem 3rem; /* Increased from 1rem 2rem */
  background-color: #fff;
  border-radius: 6px; /* Increased from 4px */
  z-index: 2;
}

.input-group {
  width: 24rem; /* Increased from 16rem */
  display: flex;
  flex-direction: column;
}

#eventDate {
  width: 18rem; /* Increased from 12rem */
}

label {
  font-weight: bold;
  margin-bottom: 7.5px; /* Increased from 5px */
  font-size: 1.5rem; /* Increased from 1.1rem */
}

select,
input {
  appearance: none; /* Remove default iOS styles */
  -webkit-appearance: none; /* Remove default iOS styles for older versions */
  padding: 0.9rem; /* Increased from 0.6rem */
  border: none;
  border-radius: 7.5px; /* Increased from 5px */
  width: 100%;
  cursor: pointer;
  font-size: 1.65rem; /* Increased from 1.1rem */
}

/* Style for the label */
label {
  font-size: 1.6rem; /* Font size */
  margin-bottom: 5px; /* Spacing between label and select */
}

/* Style for the search button */
.search-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  display: inline-block;
  margin-top: 20px;
}

/* Style for the border dividers */
.border-div {
  border-left: 1px solid #ccc;
  height: 20px; /* Adjust the height to your preference */
  margin: 0 10px;
}

.search-button {
  width: 22.5rem; /* Increased from 15rem */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem; /* Increased from 0.5rem 1rem */
  background-color: var(--black-background-color);
  color: var(--white-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 4.5rem; /* Increased from 3rem */
  font-size: 1.65rem;
  text-decoration: none;
}

.search-button:hover {
  background-color: #333;
}

.arrow-icon {
  margin-left: 15px; /* Increased from 10px */
  font-size: 3rem; /* Increased from 2rem */
}
