/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1720px (category grid breaks) */
/**************************/
@media (max-width: 108em) {
}

/**************************/
/* BELOW 1472px (Smaller desktops) */
/**************************/

@media (max-width: 92em) {
  .venues-section {
    grid-template-columns: 1fr 1fr;
    min-width: calc(2.14 * var(--venue-box-width));
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .venues-section {
    grid-template-columns: 1fr;
    min-width: calc(1.14 * var(--venue-box-width));
  }
  .filters-section {
    height: calc(1 * (4.5rem + 2.5rem) + 0.5rem + var(--header-size));
  }
  .upper-filters {
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(2 * 4.5rem + 5rem);

    row-gap: 0;
    width: calc(2 * 25rem + 1rem);
    max-width: 100%;
  }
  .lower-filters {
    grid-template-columns: repeat(2, 1fr);
    width: calc(2 * 20rem + 1rem);
    max-width: 100%;
    column-gap: 2rem;
    row-gap: 0;
    margin-top: 0;
  }
  .filter-checkbox {
    padding-top: 0.25rem;
  }

  .toggle-button.desktop {
    display: none;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  :root {
    --venue-box-height: 40rem;
    --venue-box-image-height: 29rem;
  }
  /*   .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  } */

  .venue-selector {
    display: block;
  }
  .filters-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
  }
  .lower-filters{
    background-color: white;
  }

  .mobile-margin{ 
 /*    display: block;
    height: calc(1 * (4.5rem + 2.5rem) + 0.5rem + 2*var(--header-size));
    width: 100%;
    z-index: -1; */

  }
  .venues-section {
    padding-top: calc(1 * (4.5rem + 2.5rem) + 0.5rem + 2*var(--header-size));;
    grid-template-columns: 1fr;
    width: 100%;
    overflow: auto;
    height: calc(100vh - var(--header-size));
 
  }
  .venue-box-container {
    width: calc(100% - 2rem);
    margin: 1rem 1rem;
    height: auto;
  }
  .venue-box {
    width: 100%;
  }
  .venue-box-info {
    margin-top: 0.75rem;
    height: auto;
  }
  .venue-box-info p {
    font-size: 1.6rem;
  }
  .venue-box-info-footer-capacity ion-icon {
    font-size: 2rem;
  }
  .venue-box-info-footer-capacity {
    line-height: 2rem;
  }
  .carousel-navigation {
    top: 25.8rem;
    width: 4rem;
  }
  #counter {
    font-size: 1.5rem;
  }
  .toggle-button.mobile {
    position: fixed;
    bottom: 2.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    z-index: 6;
  }
  .toggle-button.mobile p {
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: capitalize;
  }

  .icon-container {
    margin-right: 10px;
    font-size: 2rem;
  }

  .toggle-button.mobile:hover {
    background-color: var(--box-hover-color);
  }
  .map-section {
    height: calc(100vh - (2 * var(--header-size)));
    width: 0;
    max-width: none;
  }
  .mapboxgl-popup-content {
    width: 28rem;
  }
  .popup-image {
    height: 16rem;
  }
  .venue-box-info-footer {
    margin: auto 0 1rem 0;
    display: flex;
  }
}

/**************************/
/* BELOW 430px ( new Phones) */
/**************************/
@media (max-width: 27em) {
}
