.filters-section {
  margin-top: var(--header-size); /* Increased from 5.7rem */
  padding-left: 1rem;
  width: 100%;
  height: var(--header-size);
  display: flex;
  gap: 0.75rem;
  border-bottom: 1px solid #ccc;

  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.65rem;
}

.filter-box {
  height: 4.5rem;
  width: 15rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border: 1px solid #ccc;
}
.filter-box ion-icon {
  font-size: 2.5rem;
  color: #333;
}
.filter-box:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
/* .toggle-button {
  margin-left: auto;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  gap: 0.75rem;
} */

.toggle-button {
  display: inline-block;
  margin-left: auto;
  margin-right: 10rem;
}

.toggle-button button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #333;
}

.toggle-button button ion-icon {
  font-size: 2.9rem;
}
#onIcon {
  display: none;
}

.toggle-button button ion-icon {
  margin-right: 5px;
}

.toggle-button button:focus {
  outline: none;
}
.venue-selector {
  display: flex;
}
.venues-section {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}
.map-section {
  height: calc(100vh - (2 * var(--header-size)));
  width: 100%;
  max-width: 50vw;
}

/* VENUE BOXES */

/* Apply a general reset to eliminate default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the venue box container */
.venue-box {
  width: 35rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
  color: #000;
}

.venue-box:hover {
  cursor: pointer;
  color: #555;
}

/* Style for the venue image */
.venue-box-image {
  width: 100%;
  position: relative;
  height: 20rem;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center 40%;
}

.venue-box-price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1rem;
  right: 1rem;
  padding: 0.75rem 1rem;
  background-color: var(--black-background-color);
  color: #fff;
  font-size: 1.625rem;

  font-weight: 600;
}

.venue-box-price .from {
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 0.5rem;
}
/* Style for the venue information section */
.venue-box-info {
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Style for the venue name and price header */
.venue-box-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}

.venue-box-info-header-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.venue-box-info-body {
}

/* Style for the venue description */
.venue-box-info-short-text {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

/* Style for the location and "Läs mer" button section */
.venue-box-info-footer {
  margin: auto 0 0 0;
  display: flex;
}

.venue-box-info-footer-capacity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.venue-box-info-footer-capacity ion-icon {
  font-size: 1.8rem;
}
.venue-box-info-footer-capacity p {
  font-size: 1.4rem;
}

.venue-box-info-footer-location-text {
  font-size: 0.9rem;
}

.highlight-stars {
  margin: 0 1rem 0.2rem auto;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.6rem;
}
